<statement name="body" action="append">
    <script type="text/javascript" src="<-{remotely}>/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/datatables.net@1.13.7/js/jquery.dataTables.min.js "></script>
    <script type="text/javascript" src="<-{remotely}>/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/@adminkit/core@3.4.0/dist/js/app.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/moment@2.29.4/min/moment.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/datatables.net-buttons@2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/datatables.net-buttons@2.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/jszip@3.10.1/dist/jszip.min.js"></script>
    <script type="text/javascript" src="<-{remotely}>/npm/simple-keyboard@3.7.2/build/index.js"></script>

</statement>
